body{
    background-color: blueviolet;
}

.titulo{
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.formulario{
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.btn-nao{
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
}