body{
    background-color: blueviolet;
}

.titulo{
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.bnt-cadastro{
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.bnt-login{
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
}